<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}SENAPPEN{% endblock %}</title>

  <!-- Inclusão do link para o Bootstrap CSS -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

  <!-- Incluindo a referência ao arquivo main.css-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

  

  {% block head %} <!-- Bloco para adicionar elementos ao head se necessário em todos os outros templates -->
  {% endblock %} <!--Fim do bloco head -->

</head>
<body>

  {% include 'navbar.html' %} <!-- Inclui a barra de navegação -->

  <!-- Mostrando mensagem de login com sucesso para o usuario-->

  <div class="container">
    {% with mensagens = get_flashed_messages(with_categories=True) %}
      {% if mensagens %}
        {% for categoria, mensagem in mensagens %}
          <div class="alert {{ categoria }}">
              {{ mensagem }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  
  {% block body %} <!-- Bloco para adicionar elementos ao head se necessário em todos os outros templates -->
  {% endblock %} <!--Fim do bloco body -->

  <!-- Inclusão do script para o Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>